{% extends "base.html" %}

{%  block head %}
<!--Download/install markdown widget from CDN-->
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block title %}
{% if title %}
<h1> {{title}} </h1>
{% endif %}
{% endblock %}

{% block content %}


<form method='POST' action='' > {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>

</form>

<!-- Add Markdown Widget to content TextArea -->
<script>new EasyMDE({element: document.getElementById('id_content')});</script>

{% endblock %}