{% extends "base.html" %}

{% block title %}
    <h1>{{ title }}</h1>
    {% if user.is_authenticated %}
        <h5>Your Latest Posts:</h5>
    {%  endif %}
{#    <h4>{{ subtitle }}</h4>#}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        {% include 'posts/../templates/../posts/list.html' %}

    {% else %}
        <p>Welcome to our website!</p>
        <p> You can read published <a href="{% url 'posts_index' %}">posts and threads</a>, but in order to write your own posts or respond to posts you need to create an account.</p>
        <p> Or, if you'd like to browse a bit, learn more story <a href="{% url 'about' %}">about</a> us, or read our <a href="{% url 'story' %}">story</a>, that's fine too!</p>
    {% endif %}
{% endblock %}