{% extends "base.html" %}

{% block title %}
    <h1>{{ title }}</h1>
    <h4>{{ subtitle }}</h4>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h5>Your Latest Posts:</h5>
        {% for a in latest_posts %}
            {% include 'posts/../templates/../posts/list-inline.html' with post=a detail=False %}
        {% endfor %}
    {% else %}
        <p>Welcome to our ideation website.</p>
        <p> You can learn more here.</p>
        <p> You can create an account here.</p>
        <p> Or if you'd like to browse a bit, learn more about us, or read our story that's fine too!</p>
    {% endif %}
{% endblock %}