<!--<a href = "{{post.get_absolute_url }}">{{ post.title }}"</a>-->
<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card {% if not post.publish_date %} border card border-light mb-3 {% else %} mb-3 mb-3 text-dark {% endif %}">
        <div class="{% if not post.publish_date %} card-body text-secondary bg-light {% else %} card-body bg-white {% endif %}">
            <h5 class="card-title">{{post.title}}</h5>

                {% if not post.publish_date %}
                    <h6><i> ─ Draft</i></h6>
                {% else %}
                    <small class="text-muted"><strong>Published </strong>{{post.publish_date}}&emsp;&emsp;</small>
                    <br>
                {% endif %}

                 {% if post.created_to_minute != post.updated_to_minute %}
                     {% if not post.publish_date or post.published_to_minute != post.updated_to_minute %}
                         <small class="text-muted"><strong>Updated </strong>{{post.updated}}&emsp;&emsp;</small>
                     {%  endif %}
                {% endif %}

                <!--#{\% elif post not in published %} --> <!--if future-dated ie scheduled publish date --> <!--Todo: allow scheduling publish - if past date show "scheduled:" and the future publish date-->
                <!--<small class="text-muted"><strong>Scheduled </strong>{{post.publish_date}}&emsp;&emsp;</small>-->

                <small class="text-muted"><strong>Created </strong>{{post.created}}&emsp;&emsp;</small>
                <p class="card-text">

                {% if not detail %}
                    {{post.content|linebreaks|truncatewords:30}}
                    <a href = "{{post.get_absolute_url}}">View Page</a>
                {% else %}
                    {{ post.content|linebreaks}}
                {% endif %}

                <!--show edit-->
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                    <a href="{{ post.get_edit_url }}">Edit</a>
                    <a href="{{ post.get_delete_url }}">Delete</a>
                    {% endif %}
                {% endif %}
                </p>

        </div>
    </div>
</div>