<!-- CARD UI AND STYLE -->
    <div class="card {% if post.is_deleted %} {% elif not post.publish_date %} border card border-light {%  elif post.publish_date <= utc_now %} text-dark {%  else %} border-primary {% endif %}">
        <div class="{% if post.is_deleted %} card text-light fst-italic card-body bg-secondary {% elif not post.publish_date %} card-body text-secondary fst-italic bg-light {% elif post.publish_date <= utc_now %} card-body bg-white {%  else %} card-body bg-white  {% endif %}">
<!--TITLE-->
            <h5 class="card-title">{{post.title}}</h5>

<!-- DATES:-->
        <!-- PUBLISHED STATUS: PUBLISHED, DRAFT OR DELETED-->
                    <!-- Deleted date -->
                {%  if post.is_deleted %}
                    <small class="text-light"><strong>Deleted </strong>{{post.updated}}&emsp;&emsp;</small>
                    <!-- Published date -->
                {%  elif post.publish_date %}
                        <!-- show published date-->
                    {%  if post.publish_date <= utc_now %}
                        <small class="text-muted"><strong>Published </strong>{{post.publish_date}}&emsp;&emsp;</small>
                    {% else %}
                        <!-- show scheduled to publish date -->
                        <small class="text-primary"><strong>Scheduled To Publish: </strong>{{post.publish_date}}&emsp;&emsp;</small>
                        <!-- show countdown and optionally title or a custom teaser title-->
                        <!--<small class="text-muted"><strong>Countdown: </strong>{{post.time_delta_to_publish}}&emsp;&emsp;</small>-->
                    {%  endif %}
                    <!-- Draft -->
                {% else %}
                    <h6><i> ─ Draft date: </i></h6>
                {%  endif %}

                <!-- CREATED AND (OPTIONAL) UPDATED -->
                    <!--Updated (Optional - only if different to other dates) -->
                 {% if not post.is_deleted and post.created_to_minute != post.updated_to_minute %}
                     {% if not post.publish_date or post.published_to_minute != post.updated_to_minute %}
                         <small class="text-muted"><strong>Updated </strong>{{post.updated}}&emsp;&emsp;</small>
                     {%  endif %}
                {% endif %}

                    <!--Scheduled/Countdown-->
                <!--#{\% elif post not in published %} --> <!--if future-dated ie scheduled publish date -->
                <!--<small class="text-muted"><strong>Scheduled To Publish: </strong>{{post.publish_date}}&emsp;&emsp;</small>-->

                 {%  if not post.is_deleted %}   <!--Created -->
                    <small class="text-muted"><strong>Created </strong>{{post.created}}&emsp;&emsp;</small>
                {% endif %}

<!-- CONTENT: -->
        <!--IMAGE (THUMBNAIL OR FULL-SIZED)-->
                {%  if post.image %}
                            <img src="{{ post.image.url }}" class="img-fluid mt-{% if not detail %}5 rounded" style="max-width:20em; {%  else %}4 rounded" style="{%  endif %} float:right; margin: 0 0 2% 2%" />
                {%  endif %}
                <p class="card-text" style="clear:left">

<!--TEXT/LINKS (TRUNCATED LIST)-->
               {% if not detail %}
                    {{post.content_rendered|safe|linebreaks|truncatewords:150}}

        <!-- "VIEW" LINK-->
                <p class="card-text" style="clear:both">


                    <!-- Todo: if: has response threads -->
                            {% if threads_count > 0 %}
                                <span class="badge bg-primary rounded-pill">{{threads_count}}</span>
                                <a href="{{post.get_absolute_url}}">
                                <img src ="../../static/posts/comments.png">
                                View Post and <strong>{{threads_count}}</strong> Threads<!--class="text-light">-->
                            {% else %}
                                &nbsp;
                                <img src ="../../static/posts/comment-purple.png">
                                <a href="{{post.get_absolute_url}}">
                                 View Post
                            {%  endif %}
                   </a>&nbsp;<!--or "Upcoming"-->
                   <!-- Todo: else if no children-->
{#                       {% if post.is_deleted %} View <!--class="text-light">-->#} <!--todo: don't show deleted-->
{#                       {% elif not post.publish_date %}View Draft#}
{#                       {% elif post.publish_date <= utc_now %}View Post#}
{#                       {% else %} View Scheduled<!--class="text-info" -->#}
{#                       {% endif %}#}

                   <!-- Todo: else if is response post  -->

<!--TEXT/LINKS - (DETAILED VIEW)-->
               {%  else %}
                    {{ post.content_rendered|safe|linebreaks}}

        <!-- "ADD RESPONSE" LINK-->
                    <a href="{{ post.get_post_response_create_url }}"><img src ="../../static/posts/add.png">Add Response</a>
               {%  endif %}

        <!-- "EDIT" AND "DELETE" LINKS -->
                {% if request.user.is_authenticated %}
                    {% if not post.is_deleted and request.user.is_staff %}
                    <a href="{{ post.get_edit_url }}"><img src ="../../static/posts/edit-pencil.png">Edit</a>&nbsp;
                    <a href="{{ post.get_delete_url }}"><img src ="../../static/posts/delete.png">Delete</a>
                    {% endif %}
                {% endif %}
                </p>
    </div>
</div>