{% extends "base.html" %}

{%  block head %}
<!--Download/install markdown widget from CDN-->
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block title %}
{% if title %}
<h1> {{title}} </h1>
{% endif %}
{% endblock %}

{% block content %}


<form method='POST' action='' enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
<!--    <button type="btn">Cancel</button>-->
<!--    <button class="btn btn-danger">Delete</button>--> <!--Todo: delete button only on Edit form-->
    <button type="submit">Send</button>
</form>

<!-- Todo: Move into scripts -->
<!-- if creating new, generate slug from the title - when updating, don't automatically update slug/link-->
{% if request.path == '/post-new/' %}
<script src="../../static/posts/createslugfromtitle.js"></script>
{%  endif %}

<!-- Add Markdown Widget to content TextArea -->
<script>new EasyMDE({element: document.getElementById('id_content')});</script>

{%  endblock %}