{% extends "ideationsite/../base.html" %}

{% block content %}
    <div class='row'>
        <div class="col-12 col-8 mx-auto">
            {%  if query %}
                <p class="lead">Found <strong>{{ results_count }}</strong> search results for "<strong>{{ query }}</strong>"</p>
            {%  else %}
                 <form class="d-flex" role="search" action="/search/">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            {%  endif %}

            {% include 'posts/paginated-list.html' %}

        </div>
    </div>

{%  endblock %}